.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

.navbar-inverse > a:hover, a:focus {
  color: whitesmoke;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c7c7c7;
}

.navbar-inverse .navbar-brand {
    color: #c3ba9c;
}