
h2 {
  color: #4ba9df;
 font-size: 24px;
 margin-left: 10px;
}

h3 {
  color: #9fa0a2;
  font-size: 14px;
  margin-left: 10px;
  ///line-height: 1.25em;
}


.table-contacts .table > thead > tr > th,
.table-contacts .table > tbody > tr > td {
  vertical-align: middle;
  padding-left: 20px;
}

.table-contacts .table > tbody > tr > td {
  height: 36px;
  color: #8c8c8c;
  border-top: none;
}


.table-contacts .table > thead > tr > th {
  height: 56px;
  color: #4ba9df;
  
}

.table-contacts .table-striped > tbody > tr:nth-of-type(odd){
  background-color: #f6f6f6;
}


.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
   // border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}


.checkbox-list__item {
  position: relative;
  padding: 10px 0;
  display: block;
  cursor: pointer;
  margin: 0 0 0 34px;
  border-bottom: 1px solid #b4bcc2;

  &:last-of-type {
    border-bottom: 0;
  }
}

.checkbox-list__check {
  width: 18px;
  height: 18px;
  border: 3px solid #b4bcc2;
  position: absolute;
  left: -34px;
  top: 50%;
  margin-top: -12px;
  transition: border .3s ease;
  border-radius: 5px;
  
    &:before {
    position: absolute;
    display: block;
    width: 18px;
    height: 22px;
    top: -2px;
    left: 0px;
    padding-left: 2px;
    background-color: transparent;
    transition: background-color .3s ease;
    content: '\2713';
    font-family: initial;
    font-size: 19px;
    color: white;
  }
}

// Checked state
input[type="checkbox"]:checked ~ .checkbox-list__check {
  border-color: #4ba9df;

  &:before {
    background-color: #4ba9df;
  }
}
